@font-face {
    font-family: "Montserrat SemiBold";
    src: url("font/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Italic";
    src: url("font/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("font/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Medium";
    src: url("font/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("font/Montserrat-Regular.ttf") format("truetype");
}

.textFieldWord {
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: rgba(228, 228, 228, 1);
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: rgba(154, 154, 154, 1);
    -fx-font-size: 17px;
    -fx-font-weight: 500;
    -fx-line-height: 20.72 px;
    -fx-text-align: left;
    -fx-padding: 0 0 0 30px;
}

.textFieldPartOfSpeech {
    -fx-border-radius: 18;
    -fx-background-radius: 18;
    -fx-background-color: rgba(240, 240, 240, 1);
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: rgba(154, 154, 154, 1);
    -fx-font-size: 17px;
    -fx-font-weight: 500;
    -fx-line-height: 20.72 px;

}

.textFieldDefinition {
    -fx-border-radius: 18;
    -fx-background-radius: 18;
    -fx-background-color: rgba(240, 240, 240, 1);
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: rgba(154, 154, 154, 1);
    -fx-font-size: 17px;
    -fx-font-weight: 500;
    -fx-line-height: 20.72 px;
    -fx-padding: 20px 0 0 10px;
}

.textFieldExampleSentence {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: rgba(240, 240, 240, 1);
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: rgba(154, 154, 154, 1);
    -fx-font-size: 17px;
    -fx-font-weight: 500;
    -fx-line-height: 20.72 px;
    -fx-padding: 20px 0 0 10px;
}
.backGround {
    -fx-background-color: rgba(240, 240, 240, 1);
}


.innerBackground {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.25), 1.42, 0, 0, 1.42);
    -fx-border-radius: 21.33;
    -fx-background-radius: 21.33;
}

.button1 {
    -fx-border-radius: 13.6;
    -fx-background-radius: 13.6;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-font-size: 12.69 px;
    -fx-font-weight: 600;
    -fx-line-height: 15.47 px;
    -fx-text-align: left;
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: rgba(0,0,0,0.8);

}

.buttonSave {
    -fx-border-radius: 13.6;
    -fx-background-radius: 13.6;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #FF968C 0%, #FF968C 8.01%, #FF4D56 56.95%);
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 12.69 px;
    -fx-font-weight: 600;
    -fx-line-height: 15.47 px;
}
