@font-face {
    font-family: "Montserrat SemiBold";
    src: url("font/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Italic";
    src: url("font/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("font/Montserrat-Light.ttf") format("truetype");
}

#anchorPane {
    -fx-background-radius: 10,67px;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%,
    rgba(245, 184, 213, 0.59) 0%,
    rgba(243, 125, 108, 0.8) 60%);
}
.fixed-box {
    -fx-background-radius: 22px;
    -fx-fill: #fff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 0, 2, 0, 0);
    -fx-arc-height: 30px;
    -fx-arc-width: 30px;
}

.Field {
    -fx-background-color: #FFF;
    -fx-border-color: #E7E7E7;
    -fx-border-width: 3px;
    -fx-border-radius: 10.67px;
    -fx-effect: dropshadow(gaussian, #E7E7E7, 0, 10, 0, 0);
}

.LoginButton {
    -fx-background-radius: 10.67;
    -fx-font-family: "Montserrat SemiBold";
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%,
                            rgba(217, 120, 31, 0.6) 0%,
    rgba(243, 125, 108, 0.9) 60%);
    -fx-font-size: 19.94px;
    -fx-text-fill: #fff;
}
.LoginButton:hover {
    -fx-cursor:hand;
}

.Login:hover {
    -fx-cursor:hand;
}