.smallButton {
    -fx-background-color: linear-gradient(to bottom right, #87C4FF , #61B8FF );
    -fx-cursor: hand;
    -fx-background-radius: 7px;
}
.smallButton:hover {
    -fx-background-color: #bad7f2;
}
.label {
    -fx-background-color: linear-gradient(to bottom right, #eeaeca , #94bbe9);
    -fx-background-radius: 10px;
    -fx-text-fill: #ffffff;
    -fx-font-family: Helvetica;
    -fx-font-size: 50px;
}
.bigButton{
    -fx-background-color: linear-gradient(to bottom right, #ebbed2 , #94bbe9);
    -fx-cursor: hand;
    -fx-text-fill: #ffffff;
    -fx-font-size: 45px;
    -fx-font-family: Arial;
    -fx-border-color: #65aeea;
    -fx-border-width: 6px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
.bigButton:hover{
    -fx-background-color: #bad7f2;
}
.imageView:hover{
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}