.background {
    -fx-background-color: #E0F4FF;
}
.smallLabel {
    -fx-background-color: transparent;
    -fx-text-fill: #8B4726;
    -fx-wrap-text: true;
    -fx-background-radius: 10px;
    -fx-font-family: Helvetica;
    -fx-font-size: 25px;
}
.bigLabel {
    -fx-background-color: linear-gradient(to bottom right, #87C4FF , #61B8FF );
// color of text is turtle green
-fx-text-fill: #8B4726;
    -fx-wrap-text: true;
    -fx-background-radius: 10px;
    -fx-font-family: Helvetica;
    -fx-font-size: 30px;
}
.button {
    -fx-background-color: linear-gradient(to bottom right, #87C4FF , #61B8FF );
    -fx-cursor: hand;
    -fx-background-radius: 7px;
}
.button:hover {
    -fx-background-color: #bad7f2;
}
.bigButton{
    -fx-background-color: linear-gradient(to bottom right, #87C4FF , #61B8FF );
    -fx-cursor: hand;
    -fx-text-fill: #ffffff;
    -fx-font-size: 30px;
    -fx-font-family: Arial;
    -fx-border-color: #65aeea;
    -fx-border-width: 3px;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-alignment: center;
}

.ImageView:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}